/* TODO: variablize colors? */

/*
 * DOTS
 */

.hang-tight__dots > div {
  width: 24px;
  height: 24px;
  border-radius: 100%;
  display: inline-block;
  animation: dots 1s infinite;
}

.hang-tight__dots > div:nth-child(1) {
  animation-delay: 0.1s;
  background: #000;
}

.hang-tight__dots > div:nth-child(2) {
  animation-delay: 0.2s;
  background: #222;
}

.hang-tight__dots > div:nth-child(3) {
  animation-delay: 0.3s;
  background: #444;
}

.hang-tight__dots > div:nth-child(4) {
  animation-delay: 0.4s;
  background: #666;
}

.hang-tight__dots > div:nth-child(5) {
  animation-delay: 0.5s;
  background: #999;
}

@keyframes dots {
  0% {
    transform: scale(1);
  }

  50% {
    opacity: 0.3;
    transform: scale(2);
  }

  100% {
    transform: scale(1);
  }
}

/*
 * SLIDING BARS
 */

.hang-tight__sliding-bars {
  width: 250px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  position: relative;
}

 .hang-tight__sliding-bars::before, .hang-tight__sliding-bars::after {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  background: #000;
  position: absolute;
  animation: sliding-bars .7s infinite alternate ease-in-out;
}
.hang-tight__sliding-bars::before {
  top: 0;
}
.hang-tight__sliding-bars::after {
  bottom: 0;
}

@keyframes sliding-bars {
  0% {
    left: 0;
    height: 30px;
    width: 15px;
  }
  50% {
    height: 8px;
    width: 40px;
  }
  100% {
    left: 235px;
    height: 30px;
    width: 15px;
  }
}


/*
 * SPINNING CIRCLES
 */

.hang-tight__spinning-circles {
  animation: circles 1s infinite;
  height: 50px;
  width: 50px;
}

.hang-tight__spinning-circles:before,
.hang-tight__spinning-circles:after {
  border-radius: 50%;
  content: '';
  display: block;
  height: 20px;
  width: 20px;
}

.hang-tight__spinning-circles:before {
  animation: circle1 1s infinite;
  background-color: #000;
  box-shadow: 30px 0 0 #000;
  margin-bottom: 10px;
}

.hang-tight__spinning-circles:after {
  animation: circle2 1s infinite;
  background-color: #222;
  box-shadow: 30px 0 0 #000;
}

@keyframes circles {
  0% {
    transform: rotate(0deg) scale(0.8);
  }
  50% {
    transform: rotate(360deg) scale(1.2);
  }
  100% {
    transform: rotate(720deg) scale(0.8);
  }
}

@keyframes circle1 {
  0% {
    box-shadow: 30px 0 0 #444;
  }

  50% {
    box-shadow: 0 0 0 #444;
    margin-bottom: 0;
    transform: translate(15px,15px);
  }

  100% {
    box-shadow: 30px 0 0 #444;
    margin-bottom: 10px;
  }
}

@keyframes circle2 {
  0% {
    box-shadow: 30px 0 0 #999;
  }

  50% {
    box-shadow: 0 0 0 #999;
    margin-top: -20px;
    transform: translate(15px,15px);
  }

  100% {
    box-shadow: 30px 0 0 #999;
    margin-top: 0;
  }
}

/*
 * RIPPLE
 */

.hang-tight__ripple {
  width: 75px;
  height: 75px;
  position: relative;
}

.hang-tight__ripple > div {
  position: absolute;
  border: 4px solid currentColor;
  opacity: 1;
  border-radius: 50%;
  animation: ripple 1s cubic-bezier(0, 0.3, 0.8, 1) infinite;
}

.hang-tight__ripple > div:nth-child(2) {
  animation-delay: -0.5s;
}

@keyframes ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }

  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

/*
 * WAVE
 */

.hang-tight__wave {
  position: relative;
  width: 200px;
  height: 200px;
  transform-style: preserve-3d;
  transform: perspective(500px) rotatex(60deg);
}

.hang-tight__wave > div {
  position: absolute;
  display: block;
  border: 5px solid #000;
  box-shadow: 0 5px 0 #ccc, inset 0 5px 0 #ccc;
  box-sizing: border-box;
  border-radius: 50%;
  animation: waves 3s ease-in-out infinite;
}

@keyframes waves {
  0% {
    transform: translatez(-50px);
  }

  50% {
    transform: translatez(50px);
  }

  100% {
    transform: translatez(-50px);
  }
}


.hang-tight__wave > div:nth-child(1) {
  top:0;
  left:0;
  bottom: 0;
  right: 0;
  animation-delay: 1.4s;
}

.hang-tight__wave > div:nth-child(2) {
  top:10px;
  left:10px;
  bottom: 10px;
  right:10px;
  animation-delay: 1.3s;
}

.hang-tight__wave > div:nth-child(3) {
  top:20px;
  left:20px;
  bottom: 20px;
  right: 20px;
  animation-delay: 1.2s;
}

.hang-tight__wave > div:nth-child(4) {
  top: 30px;
  left: 30px;
  bottom: 30px;
  right: 30px;
  animation-delay: 1.1s;
}

.hang-tight__wave > div:nth-child(5) {
  top: 40px;
  left: 40px;
  bottom: 40px;
  right: 40px;
  animation-delay: 1s;
}

.hang-tight__wave > div:nth-child(6) {
  top: 50px;
  left: 50px;
  bottom: 50px;
  right: 50px;
  animation-delay: 0.9s;
}

.hang-tight__wave > div:nth-child(7) {
  top: 60px;
  left: 60px;
  bottom: 60px;
  right: 60px;
  animation-delay: 0.8s;
}

.hang-tight__wave > div:nth-child(8) {
  top: 70px;
  left: 70px;
  bottom: 70px;
  right: 70px;
  animation-delay: 0.7s;
}

.hang-tight__wave > div:nth-child(9) {
  top: 80px;
  left: 80px;
  bottom: 80px;
  right: 80px;
  animation-delay: 0.6s;
}

.hang-tight__wave > div:nth-child(10) {
  top: 90px;
  left: 90px;
  bottom: 90px;
  right: 90px;
  animation-delay: 0.5s;
}