@import 'hang-tight';
@import 'prismjs/themes/prism-funky';

body {
  font-family: 'Comfortaa', cursive;
  font-size: 16px;
  background: #f7f9f9;
}

h1,
h2,
h3,
h4 {
  font-family: 'Orbitron', sans-serif;
}

h1 {
  font-size: 4em;
  margin: 1em 0;
}

h2 {
  margin: 1.5em 0;
}

h1 span {
  padding: 0.5em;
  display: inline-block;
}

h1 span:nth-child(1) {
  border-bottom: 5px solid #3185fc;
}

h1 span:nth-child(2) {
  border-top: 5px solid #34e5ff;
}

h3 {
  font-size: 2.5em;
  margin: 0 0 1em 0;
}

code {
  display: block;
  padding: 1em;
  background: #fff;
  font-family: 'Source Code Pro', monospace;
  font-size: 1.5em;
}

a,
a:visited {
  color: #26547c;
  font-size: 1.4em;
}

.hang-tight__sliding-bars {
  text-transform: uppercase;
  display: inline-block;
}

main {
  padding: 2em;
  text-align: center;
}

main pre[class*='language-'],
[role='dialog'] pre[class*='language-'] {
  padding: 0;
}

main pre[class*='language-'] code,
[role='dialog'] pre[class*='language-'] code {
  overflow: auto;
}

[role='progressbar'] {
  margin: 0 auto;
}

.grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

section {
  background: #fff;
  padding: 2em;
  margin: 3.5em auto;
  border-radius: 5px;
  max-width: 500px;
  box-shadow: 0 0 1px #000;
  width: 25%;
  position: relative;
}

section.min {
  min-height: 185px;
}

section button {
  position: absolute;
  right: 0;
  bottom: 0;
  color: #000;
  background: #f7f9f9;
  padding: 5px;
  border: 0;
  box-shadow: 0 0 1px;
  transition: all 350ms;
}

section button:focus,
section button:hover {
  background: #000;
  color: #f7f9f9;
  transition: all 350ms;
}

label {
  margin: 55px 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
}

main .Install {
  max-width: 800px;
  margin: 0 auto;
}

.Install code {
  text-align: center;
}

@media all and (max-width: 1033px) {
  section {
    width: 50%;
  }
}
