section h2 {
  margin: 1em 0;
}

section h3 {
  font-size: 1.2em;
  margin-top: 1.5em;
}

section [role='region'] pre {
  margin: 0;
}

section [role='region'] {
  max-height: 150px;
  overflow: auto;
}

.EQ .LoadWrap {
  height: 100px;
}
