.hang-tight__ripple {
  width: 75px;
  height: 75px;
  position: relative;
}

.hang-tight__ripple > div {
  position: absolute;
  border: 4px solid currentColor;
  opacity: 1;
  border-radius: 50%;
  animation: hang-tight-ripple 1s cubic-bezier(0, 0.3, 0.8, 1) infinite;
}

.hang-tight__ripple > div:nth-child(2) {
  animation-delay: -0.5s;
}

@keyframes hang-tight-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }

  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}
